html {

    background-color: #e7f5f1;

}

body {
    box-shadow: 0px -1px 8px 2px #787878;
    background-color: white;
    /* min-width: auto; */
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;

}

header {
    border-width: auto;
    height: 60px;
    border-bottom: 8px double #B0B0B0;
    margin-top: 15px;
    background-color: white;
    padding-top: 5%;
}

#page {
    font-size: 28px;
    color: #000000;
    text-transform: capitalize;
    /*wszystkiemaleliterybedadrukowane*/
    font-variant: small-caps;
    text-align: center;
    width: 72%;
    display: block;
    float: left;
    position: relative;


}

#home {
    box-shadow: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 2px 2px ivory;
    font-size: 22px;
    color: white;
    background-color: rgb(29, 108, 122);
    display: flex;
    justify-content: center;
    width: 8%;
    height: 50px;
    padding: 20px;
    float: left;
    position: relative;
    top: -30px;

}

section {

    columns: 2;
    column-gap: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

section p:nth-child(1) {
    border: 1px solid black;
    border-radius: 8px;
    color: honeydew;
    background-color: rgb(15, 61, 15);
    padding: 10px;
    margin: auto;
}

#menu {
    height: 15px;
    display: block;
    position: relative;
    right: 5%;


}

#menu li {

    list-style: none;
    float: left;


}

#menu ul {
    display: none;

}

#menu li a {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: rgb(29, 108, 122);
    text-transform: uppercase;
    padding: 1px 10px 1px 10px;
}

#menu a:hover {
    border: 1px solid black;
}

#menu2 {
    position: fixed;
    right: 18%;
    top: 80%;
    min-width: 150px;
    margin-top: -2.5em;
    border: 1px solid rgb(15, 61, 15);
    background-color: rgb(15, 61, 15);
    padding: 4px 6px 4px 6px;
    opacity: 0.85;
    text-align: center;
    border-radius: 70% 20% 20% 70%;
    text-shadow: 1px 3px 3px #000000;


}

#menu2 li {
    list-style: none;
    font-weight: bold;
    padding: 3px;

}

#menu2 li a {
    color: white;
    text-decoration: none;

}

#menu2 a:hover {
    text-decoration: underline;

}